data/meas_MID00078_FID221413_T1_mapping.dat
dico/mrf_dictconf_SimReco2_light.json
dico/mrf_dictconf_Dico2_Invivo_TR1.11_reco5.0.pkl
dico/mrf_dictconf_Dico2_Invivo_TR1.11_reco5.0.dict
dico/mrf_dictconf_Dico2_Invivo_TR1.11_reco5.0_vars.pkl
dico/mrf_dictconf_Dico2_Invivo_TR1.11_reco5.0_6pca.pkl
dico/mrf_dictconf_Dico2_Invivo_light_for_matching_TR1.11_reco5.0.dict
dico/mrf_dictconf_Dico2_Invivo_light_for_matching_TR1.11_reco5.0_vars_simple.pkl
dico/mrf_dictconf_Dico2_Invivo_light_for_matching_TR1.11_reco5.0_6pca_simple.pkl
dico/dictionary.dict
dico/dictionary_vars.pkl
dico/dictionary_light.dict
dico/dictionary_light_vars_simple.pkl
dico/dictionary_light_6pca_simple.pkl
dico/dictionary_6pca.pkl
data/volumes.npy
data/wT1_map.mha
data/volumes.gif
data/masks.npy
data/masks.gif
data/maps.pkl
data/kdata.npy
data/ff_map.mha
data/dico_seqParams.pkl
data/df_map.mha
data/b1.npy
data/b1.jpg
data/attB1_map.mha
__pycache__/dictmodel.cpython-38.pyc
__pycache__/dictmodel.cpython-310.pyc
__pycache__/dictmodel.cpython-313.pyc
__pycache__/io_twixt.cpython-38.pyc
__pycache__/io_twixt.cpython-310.pyc
__pycache__/io_twixt.cpython-313.pyc
__pycache__/trajectory.cpython-38.pyc
__pycache__/utils_mrf.cpython-38.pyc
__pycache__/utils_mrf.cpython-310.pyc
__pycache__/utils_mrf.cpython-313.pyc
__pycache__/utils_simu.cpython-38.pyc
notebooks/dico_simulation.ipynb
